@import url('../fonts/panamera/font.css');

html {
    --primary-bg: white;
    --primary-text: #212529;
    --secondary-text: #444;
}

body {
    color: var(--primary-text);
    font-family: Panamera, sans-serif;
    margin: 0;
}

html,
body {
    height: 100%;
}

h1 {
    margin: 0;
}

nav {
    background-color: var(--primary-bg);
    box-shadow: 0 2px 5px 0 #0000001a;
    position: sticky;
    top: 0;
}

nav > ul {
    align-items: center;
    color: var(--secondary-text);
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    padding: 0.5rem;
}

label,
input {
    display: block;
}

input,
textarea {
    appearance: none;
    box-sizing: border-box;
    display: block;
    line-height: 1.5;
    background-color: var(--primary-bg);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    width: 100%;
}

textarea {
    resize: vertical;
}

footer {
    padding-bottom: 50px;
    padding-top: 100px;
    box-shadow: inset 0 40px 30px -20px rgba(0 0 0 / 10%);
}
